<div class="container mt-5 d-flex flex-wra justify-content-center">
        <div class="card ms-3 mt-2" style="width: 18rem;" *ngFor="let project of projects">
            <img [src]=project.img class="card-img h-75" alt="project image">
            <div class="card-body ">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.description}}</p>
                <a [href]=project.link class="btn btn-primary" target="_blank">{{project.buttonDescription}}</a>
            </div>
        </div>
</div>
