<div class="container mx-auto pb-5">
    <div class="col-sm-10 mx-auto d-flex flex-wrap align-content-center justify-content-center">
        <div class="card col-sm-3 me-sm-5 mt-3" *ngFor="let project of projects">
            <img *ngIf="project.hasOwnProperty('img')" [src]=project.img class="card-img h-75" alt="project image">
            <div class="card-body d-flex align-items-center">
                <div>
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.description}}</p>
                    <a *ngIf="project.hasOwnProperty('buttonDescription')" [href]=project.link class="btn btn-info" target="_blank">{{project.buttonDescription}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
