<div class='container mt-4'>
    <div class="row d-flex flex-column-reverse align-items-center">
      <div class='col-sm mt-3 d-flex flex-column justify-content-center align-items-center'>
        <div class='h1 fs-1'>Hao-Tang, Li</div>
        <div class='h2 fs-6'>Master in Computer Science</div>
        <div class='h2 fs-6'> University of Southern California</div>
        <a href="https://drive.google.com/file/d/1zorOM5Q25moRpwAAUARnTu6h7kvnjtBw/view?usp=sharing" target="_blank">
            <button type="button" class="btn btn-primary mt-2" >See Resume</button>
        </a>
      </div>
      <div class='col-sm-6 text-center'>
        <img class='img-fluid rounded' src="assets/images/topbanner-v2.jpg" >
      </div>

    </div>
</div>
