<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-lignt">
        <div class="container-fluid justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav fs-4">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active-page" ariaCurrentWhenActive="page" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active-page"ariaCurrentWhenActive="page" routerLink="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active-page" ariaCurrentWhenActive="page" routerLink="/articles">Articles</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
