<div class="container mt-5">
    <div class="main-timeline">
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">June</span>
              <span class="year">2022</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">IT Software Engineer Intern, TSMC</h5>
          <p class="description">
          </p>
        </div>
      </div>
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">January</span>
              <span class="year">2022</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">Enrolled in USC</h5>
          <p class="description">

          </p>
        </div>
      </div>

      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">September</span>
              <span class="year">2021</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">Frontend Engineer Intern, PressLogic</h5>
          <p class="description">

          </p>
        </div>
      </div>

      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">September</span>
              <span class="year">2020</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">Exchange Student at Poznan University of Technology, Poland</h5>
          <p class="description">

          </p>
        </div>
      </div>

      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">July</span>
              <span class="year">2020</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">Summer School at Shanghai Jiao Tong University</h5>
          <p class="description">

          </p>
        </div>
      </div>


    </div>


  </div>
